<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Preguntio!</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                <h1>Colecciones</h1>
                <a class="btn btn-default acciones" data-toggle="modal" data-target="#altaColeccion" aria-label="Left Align">+ Nueva colección</a> 


                <div class="panel-group" id="accordionColecciones" role="tablist" aria-multiselectable="true">
                    {{#colecciones}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingCol{{id}}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#coleccion{{id}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{titulo}}
                                </a>
                                <a href="#" class="borrar-coleccion" data-id="{{id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </h4>

                        </div>
                        <div id="coleccion{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h2>Categorías</h2>
                                <a class="btn btn-default acciones alta-categoria" aria-label="Left Align" data-id-coleccion="{{id}}">+ Nueva categoría</a> 
                                <div class="panel-group" id="accordionCategorias{{id}}" role="tablist" aria-multiselectable="true">
                                    {{#categorias}}
                                    <div class="panel-heading" role="tab" id="headingCat{{id}}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#categoria{{id}}" aria-expanded="true" aria-controls="collapseOne">
                                                {{titulo}} ({{cantidadPreguntas}})
                                            </a>
                                            <a href="#" class="borrar-categoria" data-id="{{id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </h4>
                                    </div>
                                    <div id="categoria{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <a class="btn btn-default acciones alta-preguntas" aria-label="Left Align" data-id-categoria="{{id}}">+ Agregar preguntas</a> 
                                            <table class="table table-hover table-responsive" style="width:100%">
                                                <tr>
                                                    <th>Preguntas</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                {{#preguntas}}
                                                <tr>
                                                    <td>{{contenido}}</td>
                                                    <td><a href="#" class="pr-borrar-pregunta" data-id="{{id}}">borrar</a></td>
                                                </tr>
                                                {{/preguntas}}
                                            </table> 
                                        </div>
                                    </div>
                                    {{/categorias}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/colecciones}}
                </div>
            </div>
        </div>

        <div class="modal fade" id="altaColeccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="formNuevaColeccion">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nueva Colección</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" required name="titulo" placeholder="Título">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" required name="imagen" placeholder="Url Imágen">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" required name="descripcionCorta" placeholder="Descripción Corta">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" cols="50" required name="descripcion" placeholder="Descripción"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="altaCategoría" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="formNuevaCagoria">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nueva categoría</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" required name="titulo" placeholder="Título">
                            </div>
                            <input type="hidden" name="coleccion" value=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="altaPreguntas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="formNuevasPreguntas">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nueva pregunta</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <textarea class="form-control" rows="4" cols="50" required name="preguntas" placeholder="Preguntas separadas por ,"></textarea>
                            </div>
                            <input type="hidden" name="categoria" value=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="/js/app/preguntio.js"></script>
        <script src="/js/app/service/service.js"></script>
        <script src="/js/app/service/preguntas/preguntas.js"></script>
        <script src="/js/app/ui/ui.js"></script>
        <script src="/js/app/ui/home/home.js"></script>
    </body>
</html>
